<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h3>Inserisci la modalità di ricerca:</h3>
    <a href="/nome"><p>1. Nome</p></a>
    <a href="/citta"><p>2. Città</p></a>
    <a href="/provider"><p>7. Provider</p></a>
    <h4>Extra</h4>
    <a href="/numeroclienti"><p>3. Numero dei clienti per stato</p></a>
    <a href="/statoclienti"><p>4. Stato con maggior numero di clienti</p></a>
    <a href="/grafici"><p>5. Grafici</p></a>
    <a href="/noMail"><p>6. Clienti con email mancante</p></a>
</body>
</html>